/* ====================
      * HELPERS *
====================== */

// MARGEN

@for $i from 0 through 5{
    .m-#{$i}{
        margin: $i * 10px;
    }

    .mx-#{$i}{
        margin: 0 $i * 10px;
    }

    .my-#{$i}{
        margin: $i * 10px 0;
    }

    .mt-#{$i}{
        margin: $i * 10px 0 0 0;
    }
    
    .mb-#{$i}{
        margin: 0 0 $i * 10px 0;
    }

    .ms-#{$i}{
        margin: 0 0 0 $i * 10px;
    }

    .me-#{$i}{
        margin: 0 $i * 10px 0 0;
    }
}

.mx-auto{
    margin: 0 auto;
}

.my-auto{
    margin: auto 0;
}


// PADDING

@for $i from 0 through 5{
    .p-#{$i}{
        padding: $i * 10px;
    }

    .px-#{$i}{
        padding: 0 $i * 10px;
    }

    .py-#{$i}{
        padding: $i * 10px 0;
    }

    .pt-#{$i}{
        padding: $i * 10px 0 0 0;
    }
    
    .pb-#{$i}{
        padding: 0 0 $i * 10px 0;
    }

    .ps-#{$i}{
        padding: 0 0 0 $i * 10px;
    }

    .pe-#{$i}{
        padding: 0 $i * 10px 0 0;
    }
}

.px-auto{
    padding: 0 auto;
}

.py-auto{
    padding: auto 0;
}

@include desktops(){

    @for $i from 0 through 5{
        .m-lg-#{$i}{
            margin: $i * 10px;
        }
    
        .mx-lg-#{$i}{
            margin: 0 $i * 10px;
        }
    
        .my-lg-#{$i}{
            margin: $i * 10px 0;
        }
    
        .mt-lg-#{$i}{
            margin: $i * 10px 0 0 0;
        }
        
        .mb-lg-#{$i}{
            margin: 0 0 $i * 10px 0;
        }
    
        .ms-lg-#{$i}{
            margin: 0 0 0 $i * 10px;
        }
    
        .me-lg-#{$i}{
            margin: 0 $i * 10px 0 0;
        }
    }
    
    .mx-lg-auto{
        margin: 0 auto;
    }
    
    .my-lg-auto{
        margin: auto 0;
    }

    
    @for $i from 0 through 5{
        .p-lg-#{$i}{
            padding: $i * 10px;
        }
    
        .px-lg-#{$i}{
            padding: 0 $i * 10px;
        }
    
        .py-lg-#{$i}{
            padding: $i * 10px 0;
        }
    
        .pt-lg-#{$i}{
            padding: $i * 10px 0 0 0;
        }
        
        .pb-lg-#{$i}{
            padding: 0 0 $i * 10px 0;
        }
    
        .ps-lg-#{$i}{
            padding: 0 0 0 $i * 10px;
        }
    
        .pe-lg-#{$i}{
            padding: 0 $i * 10px 0 0;
        }
    }
    
    .px-lg-auto{
        padding: 0 auto;
    }
    
    .py-lg-auto{
        padding: auto 0;
    }
}

@include tablets(){

    @for $i from 0 through 5{
        .m-md-#{$i}{
            margin: $i * 10px;
        }
    
        .mx-md-#{$i}{
            margin: 0 $i * 10px;
        }
    
        .my-md-#{$i}{
            margin: $i * 10px 0;
        }
    
        .mt-md-#{$i}{
            margin: $i * 10px 0 0 0;
        }
        
        .mb-md-#{$i}{
            margin: 0 0 $i * 10px 0;
        }
    
        .ms-md-#{$i}{
            margin: 0 0 0 $i * 10px;
        }
    
        .me-md-#{$i}{
            margin: 0 $i * 10px 0 0;
        }
    }
    
    .mx-md-auto{
        margin: 0 auto;
    }
    
    .my-md-auto{
        margin: auto 0;
    }

    
    @for $i from 0 through 5{
        .p-md-#{$i}{
            padding: $i * 10px;
        }
    
        .px-md-#{$i}{
            padding: 0 $i * 10px;
        }
    
        .py-md-#{$i}{
            padding: $i * 10px 0;
        }
    
        .pt-md-#{$i}{
            padding: $i * 10px 0 0 0;
        }
        
        .pb-md-#{$i}{
            padding: 0 0 $i * 10px 0;
        }
    
        .ps-md-#{$i}{
            padding: 0 0 0 $i * 10px;
        }
    
        .pe-md-#{$i}{
            padding: 0 $i * 10px 0 0;
        }
    }
    
    .px-md-auto{
        padding: 0 auto;
    }
    
    .py-md-auto{
        padding: auto 0;
    }
}

@include phones(){

    @for $i from 0 through 5{
        .m-sm-#{$i}{
            margin: $i * 10px;
        }
    
        .mx-sm-#{$i}{
            margin: 0 $i * 10px;
        }
    
        .my-sm-#{$i}{
            margin: $i * 10px 0;
        }
    
        .mt-sm-#{$i}{
            margin: $i * 10px 0 0 0;
        }
        
        .mb-sm-#{$i}{
            margin: 0 0 $i * 10px 0;
        }sm
        .ms-sm-#{$i}{
            margin: 0 0 0 $i * 10px;
        }
    
        .me-sm-#{$i}{
            margin: 0 $i * 10px 0 0;
        }
    }
    
    .mx-sm-auto{
        margin: 0 auto;
    }
    
    .my-sm-auto{
        margin: auto 0;
    }

    
    @for $i from 0 through 5{
        .p-sm-#{$i}{
            padding: $i * 10px;
        }
    
        .px-sm-#{$i}{
            padding: 0 $i * 10px;
        }
    
        .py-sm-#{$i}{
            padding: $i * 10px 0;
        }
    
        .pt-sm-#{$i}{
            padding: $i * 10px 0 0 0;
        }
        
        .pb-sm-#{$i}{
            padding: 0 0 $i * 10px 0;
        }
    
        .ps-sm-#{$i}{
            padding: 0 0 0 $i * 10px;
        }
    
        .pe-sm-#{$i}{
            padding: 0 $i * 10px 0 0;
        }
    }
    
    .px-sm-auto{
        padding: 0 auto;
    }
    
    .py-sm-auto{
        padding: auto 0;
    }
}

// BORDER

.border{border: 1px solid $gray;}
.border-right{border-right: 1px solid $gray;}
.border-left{border-left: 1px solid $gray;}
.border-top{border-top: 1px solid $gray;}
.border-bottom{border-bottom: 1px solid $gray;}

// BORDES REDONDEADOS

.rounded{border-radius: 5px;}
.rounded-2{border-radius: 20px;}
.rounded-3{border-radius: 30px;}
.rounded-full{border-radius: 50%;}

// ALINEACIÓN   DE TEXTO

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

// CURSORES

.cursor-pointer{cursor: pointer;}
.cursor-norma{cursor: default;}
.cursor-resize{cursor: e-resize;}

// TRANSICIONES

.transition-3s{transition: all .3s;}
.transition-Ss{transition: all .5s;}
.transition-8s{transition: all .8s;}
.transition-10s{transition: all .10s;}